@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

#container {
  margin: 1rem auto;
  width: 60%;
  padding: 2rem;
}

header {
  text-align: center;
  margin-bottom: 2rem;
}

main {
  display: flex;
  justify-content: space-between;
}

#board {
  height: 300px;
  width: 300px;
  order: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.cell {
  background-color: grey;
  color: white;
  padding: 20px;
  border: 2px solid black;
  margin: 5px;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

#modal-form {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(255,255,255); /* Fallback color */
}

#form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 2px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
  border-radius: 5px;
}

#form-content label {
  margin-bottom: 10px; 
}

.player-board {
  border: 1px solid black;
  align-self: center;
  height: 150px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
}

#player1-board {
  order: 0;
}

#player2-board {
  order: 2;
}

.playing {
  transform: scale(1.1);
  border-color: red;
}

#controls {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

#controls button {
  margin-right: 5px;
}

#win-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
